* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HomeComponent {
    width: 100%;
}

.HomeComponent-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(16, 19, 24);
    border-bottom: 1px solid rgb(249, 249, 251);
}

.Home-one {
    width: 40%;
    color: rgb(249, 249, 251);
}

.Home-two {
    width: 60%;
    color: hsl(223, 20, 98);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Home-two a {
    text-decoration: none;
    color: rgb(249, 249, 251);
}